body {
  margin: 0;
  font-family: Helvetica, Arial, Sans-serif;
}

header {
  height: 83px;
  width: 100%;
  background-image: linear-gradient(#4D68A1 0%,#48649F 10%,#45629D 20%,#415E9B 30%,#3E5B99 40%,#3B5998 50%);
  min-width: 980px;
}
.fblogo {
  margin: 0;
  padding: 0;
  margin: 30px 0 0 0;
  height: 34px;
  width: 171px;
  float: left;
}
.loginform {
  margin: 0;
  padding: 0;
  margin: 8px 0 0 0;
  border-collapse: collapse;
  float: right;
}
.logintext {
  width: 148px;
  height: 21px;
  color: white;
  font-size: 12px;
  font-family: inherit;
  line-height: 16.06px;
  vertical-align: middle;
}
.loginfield {
  color: black;
}
#loginbutton {
  color: white;
  background-color: #4267B2;
  border: 1px solid #29487D;
  padding: 3px 6px 3px 6px;
  font-weight: bold;
  cursor: pointer;
}
#loginbutton:hover {
  background-color: #365899;
}


.maindiv {
  background-image: linear-gradient(rgba(255,0,0,0), rgba(211,216,232));
  width: 100%;
  min-width: 980px;
}
.welcome {
  width: 565px;
  float: left;
}
.welcometext {
  width: 450px;
  margin-top: 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #0E385F;
  word-spacing: -1px;
}
